<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/1286657214.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/css/tech.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <title>Kinectic Footwear</title>
</head>

<body>
    <section id="nav">
        <div class="nav_icon_title">
            <a href="{{url_for('index')}}"><img src="{{url_for('static', filename='/Images/logo.png')}}"
                    class="logo"></a>
            <h3 class="nav_title">Kinetic Footwear</h3>
        </div>
        <div>
            <ul id="navbar">
                <li><a href="{{url_for('dashboard')}}">Home</a></li>
                <li><a class="active" href="{{url_for('tech')}}">The Tech</a></li>
                <!-- <li><a href="{{url_for('shop')}}">Shop</a></li> -->
                <li><a href="{{url_for('team')}}">Our Team</a></li>
                <!-- <li><a href="/logout">Logout</a></li> -->
                <!-- <li>
                    <a href="cart.html"><i id="lg-bag" class="fa-solid fa-bag-shopping"></i></a>
                </li> -->
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <i id="bar" class="fa-solid fa-bars"></i>
        </div>
    </section>
    <hr class="team_hr">
    <section class="section-p1 ">
        <h1 class="tech_title">How It Works:</h1>
        <div class="main_block">
            <div class="tech_block tb1">
                <div class="tech_photo tech_pic1"><img src="{{url_for('static', filename='/Images/zombie_left.svg')}}">
                </div>
                <div class="tech_info">
                    <h5>Walking is an everyday activity!</h5>
                    <p>When humans walk, they actually put a fair amount of energy into the surface of which they are
                        moving on. After looking at many studies we found the range to be 50-67 Watts based on specific
                        variables (weight, speed, etc.). Now this isn’t enough power to power streetlights or buildings
                        but it is enough to be useful in our daily lives. </p>
                </div>
            </div>
            <div class="tech_block tb2">
                <div class="tech_info">
                    <h5>Our product does just that.</h5>
                    <p> Although many people have tried making an energy harvesting shoe before (as demonstrated by the
                        hundreds of patents on these types of devices) there isn’t a product like ours on the market!
                        This isn’t because of manufacturing or market reasons, but simply because no one has
                        <strong>gotten
                            enough power.</strong>
                    </p>
                </div>
                <div class="tech_photo tech_pic2"><img src="{{url_for('static', filename='/Images/walk_right.svg')}}">
                </div>
            </div>
            <div class="tech_block tb3">
                <div class="tech_photo tech_pic1"><img src="{{url_for('static', filename='/Images/jump_left.svg')}}">
                </div>
                <div class="tech_info">
                    <h5>Our energy harvesting system gets way more energy than anyone else has ever gotten before.</h5>
                    <p>
                        Enough to make a product that can be useful! We are aiming to allow people to power their lives
                        by doing nothing more than what they would normally do. Imagine never having to check the
                        battery on your phone when you leave for work in the morning. Never having to carry around a
                        bulky power brick and a cable just so you can wait in line for that concert. All of these and
                        more become possible. </p>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <footer id="foot-main" style="background:url(/static/Images/banner8.svg) center / cover no-repeat;">
        <div class="main-col">
            <div class="col-1">
                <img class="foot-icon" src="{{url_for('static', filename='/Images/logo.png')}}" alt="logo" />
                <h4>Follow Us On</h4>
                <div class="icon">
                    <i class="fa-brands fa-facebook"> <a href="#"> Facebook </a> </i>
                    <i class="fa-brands fa-twitter"><a href="#"> Twitter </a></i>
                    <i class="fa-brands fa-instagram-square"><a href="#"> Instagram</a></i>
                    <!-- <i class="fa-brands fa-youtube"><a href="#"> Youtube</a></i> -->
                </div>
                <div class="call-action">
                    <p class="newstext">
                        Stay updated on our journey!
                    </p>
                    <input type="email" placeholder="Your email address" />
                    <button class="normal_footer">Sign Up</button>
                </div>
            </div>
            <div class="col-2">
                <h4>About</h4>
                <a href="{{url_for('team')}}">About Us</a>
                <!-- <a href="#">Delivery Info</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a> -->
                <a href="#">Contact Us</a>
            </div>
            <div class="col-3">
                <h4>My Account</h4>
                <!-- <a href="/logout">Logout</a> -->
                <!-- <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a> -->
                <a href="#">Help</a>
            </div>
            <!-- <div class="col-4">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="app-row">
          <img class="appStore" src="{{url_for('static', filename='Images/googleplay.svg')}}" alt="Google-play" />
          <img class="appStore" src="{{url_for('static', filename='Images/appstore.svg')}}" alt="Apple-Play" />
        </div>
        <p>Secured Payment Gateways</p>
        <div class="pay-cards">
          <img class="cards" src="{{url_for('static', filename='Images/visa.svg')}}" alt="Cards" />
          <img class="cards" src="{{url_for('static', filename='Images/mastercard.svg')}}" alt="" />
          <img class="cards" src="{{url_for('static', filename='Images/discover.svg')}}" alt="" />
          <img class="cards" src="{{url_for('static', filename='Images/amex.svg')}}" alt="" />
        </div>
      </div> -->
        </div>
    </footer>
    <script type="text/javascript" src="{{url_for('static', filename='/script/index.js')}}"></script>
</body>

</html>